######################################################################
# library path
######################################################################
#DEPENDPATH += . /usr/local/qwt-5.2.0-svn/lib
INCLUDEPATH += . /usr/realtime/include /usr/include/qwt-qt4
LIBS +=  -lqwt-qt4
#CONFIG += debug

####################################################################
# uncommend the following DEFINES for use together with earlier versions of RTAI than 3.80
####################################################################

#DEFINES           += _RTAI_3_7_

######################################################################
# If you want to use the old mdi window layout, enable the line below
######################################################################

#DEFINES     += _OLD_LAYOUT_

######################################################################
# If you want to use opengl, enable the line below
######################################################################

#CONFIG     += QRL_OpenGL

######################################################################
# do same tests
######################################################################

#CONFIG += QRLtests
